<h1>Questions</h1>


<% @questions.each do |question| %>
    <time datetime="<%= question.formatted_created_at %>"><%= question.formatted_created_at %></time>
    <h2><%= question.title %></h2>
    <p><%= question.body %><p>
<% end %>